.joined {
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 5.5rem; */
    padding-top: -1rem;
    align-items: center;
    justify-content: center;
    text-align: center;

  
  }
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .joined__list {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 18.75rem;
    background-color: #fff;
    border: 0.0625rem solid #dadce0;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
  }
  .joined__list:hover{
    transition: 0s all ease;
  }
  .joined__imgWrapper {
    height: 113%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #174ea6;
  }
  

  .joined__image {
    background-image: url(https://gstatic.com/classroom/themes/Physics.jpg);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .joined__container {
    position: relative;
  }
  .joined__content {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 4.5rem;
    padding: 1rem .5rem 0.75rem;
    position: relative;
   
  }
  
  .joined__title {
    color: white;
    font-family: "Roboto";
    text-decoration: none;
   
    
  }
  .joined__title {
    font-weight: 400;
  }
  .joined__title:hover {
    text-decoration: underline;
    color: white;
    background-color: #174ea6;
  }
  .joined__owner {
    color: white;
    font-weight: 400 !important;
    font-size: 15px !important;
  }
  .joined__avatar {
    float: right;
    height: 3.6875rem !important;
    position: relative !important;
    margin-top: -1.09375rem !important;
    width: 3.6875rem !important;
    text-align: left;
   margin-right: 10px;
  }
  .joined__bottom {
    margin-top: 40%;
    display: flex;
    color: #5f6368;
    justify-content: flex-end;
    border-top: 0.2px solid #e0e0e0;
    padding: 10px;
    font-size: 15px;

  }
  .joined__bottom > * {
    margin-right: 20px;
  }
  